@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700&display=swap');

:root {
  --main-text-color: #f4f4f4;
  --brown: #35281E;
}

html {
  font-size: 10px;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
  color: var(--main-text-color);
}

.text-center {
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image:linear-gradient(     135deg,rgba(237,150,0,0.6),rgba(101,67,33,0.8)),url(https://res.cloudinary.com/resola/image/upload/v1633766471/freecodecamp/coffee_bg_nvogad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-center {
  text-align: center;
}

#title {
  font-size: 3rem;
}

#survey-form {
  max-width: 800px;
  margin: 40px auto;
  padding: 40px 20px;
  background: var(--brown);
  
}

label {
  display: block;
  margin-bottom: 10px;
}

.form-group {
  margin: 0 auto;
  width: 90%;  
  padding-bottom: 30px;
  font-family: inherit;
  font-size: inherit;
}

input, select, button {
  margin: 0 auto;
  font-family: inherit;
  font-size: inherit;
}

.form-display {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #735741;
    transition: border-color 0.3s;
}

.form-display:focus {
  border-color: #C99965;
  outline: 0;
}

input[type="radio"], input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle; 
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

#comments {
  margin: 0 auto;
  height: 300px;
  width: 100%;
  resize: none;
}

button {
  display: block;
  padding: 15px 80px 15px;
  background: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background: #3bce76;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}