* {
  margin: 0 auto; 
  box-sizing: border-box;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  --main-text-color: #2a2a2a;
  --sec-text-color: #35281E;
  --light-text-color: #f2f2f2;
}

li {
    list-style: none;
}

#content-wrapper {
  width: 100%;
}

body {
  font-family: 'Open Sans';
  margin: 0 auto;  
}

p {
  font-size: 1.4rem;
}

h1 {
  font-family: 'Titillium Web', sans-serif, Arial;
  font-size: 4rem;
  font-weight: 300;
}

h2 {
  font-family: 'Titillium Web', sans-serif, Arial;
  font-size: 2.8rem;
  font-weight: 200;
}

h3 {
  font-family: 'Titillium Web', sans-serif, Arial;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
}

img {
  display: block; 
}

header {
  position: fixed;
  top: 0;
  background: #070f1dee;
  width: 100%;
  z-index: 10;
}
#nav-bar a {
  margin:0;
}

#header-img {
  max-height: 50px;
  height: 100%;
  padding: 10px;
  min-width: 0;
  margin: 0px;
}


a {
  color: #d1d1d1;
  text-decoration: none;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  margin: 0;
  height: 70px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.nav-link {
  font-size: 1.6rem;
  font-family: 'Titillium Web';
  font-weight: 400;
  margin: 0;
}

.nav-link:hover {
  color: var(--light-text-color);
}

.nav-item {
  margin-left: 5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
      position: fixed;
      top: 70px; 
      display: none;
      background-color: #070f1dee;
      border-top: solid 1px #fff;
      width: 100%;
      text-align: center;
      transition: 1s;
    }

    .nav-menu.active {
      left: 0;
      display: flex;
      flex-direction: column;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
      display: block;
      cursor: pointer;
      margin: 0;
    }
  
  .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

#hero {
  position: relative;
/*   max-height: 80vh;
  min-height: 200px; */
/*   max-height: 600px; */
}

#hero img {
  width: 100vw; 
  height: 100vh;
/*   min-height: 400px; */
  object-fit: cover;
}

#hero-copy-container {
  position: absolute;
  margin: 60px auto;
  padding: 20px;
  bottom: 0px;
  color: #ffffff;
  background-color: #00000040;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
}

@media only screen and (max-width: 1000px) {
  #hero-copy-container {
  position: absolute;
  margin: 60px auto;
  padding: 20px;
  left: 50%;
	transform: translate(-50%);
  color: #ffffff;
  background-color: #00000040;
  }  
  
  #hero-copy-container > h1 {
    font-size: 3rem;
  }
  
  #hero-copy-container > h2 {
    font-size: 2rem;
  }  
}

@media only screen and (max-width: 800px) {
   
  #hero-copy-container > h1 {
    font-size: 2.4rem;
  }
  
  #hero-copy-container > h2 {
    font-size: 1.8rem;
  }
  
}

#main-content {
  width: 100%;
  margin: 0 auto;
/*   position: relative; */
}

@media only screen and (min-width: 1500px) {
  #main-content {
    max-width: 1800px;
    padding: 0px 100px;
  }
}

@media only screen and (max-width: 1499px) {
  #main-content {
    padding: 0px 80px;
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  #main-content {
    padding: 0px 40px;
    width: 100%;
  }
}

.section::before { 
  display: block; 
  content: ''; 
  margin-top: -100px; 
  height: 120px; 
  visibility: hidden; 
  pointer-events: none;
}

.section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.titles {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.subtitles {
  text-align: center;
  padding-bottom: 20px;
}

.video-container-wrap {
  padding: 0% 5%; 
}

.video-container {
  position: relative; 
  padding-bottom: 50%; 
  padding-top: 6.5%;
  height: 0; 
  overflow: hidden;
  margin-bottom: 40px;
}

.video-container iframe, .video-container object, .video-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

#features > p, #technical-specifications > p {
  padding: 20px 40px;
  max-width: 1500px;
}

#features-highlights-wrapper {
  display: flex;
  width: 100%;
  max-width: 1500px;
  padding: 20px 0px;
}

#features-highlights-1, #features-highlights-2, #features-highlights-3 {
  padding: 10px 40px;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
}

@media only screen and (max-width: 800px) {
  #features-highlights-wrapper {
    flex-direction: column;
  }
  
#features-highlights-1, #features-highlights-2, #features-highlights-3 {
  padding: 10px 20px;
  } 
}

#features-highlights-1-img {
  width: 50px;
  margin: 20px auto;
}

label, input {
  display: block;
}

label {
  cursor: text;
}

input {
  width: 400px;
  padding: 12px;
  border-radius: 5px;
}

input[type="email"] {
  border: 1px solid #735741;
  margin: 20px auto 20px auto;
  font-family: 'Open Sans', sans-serif, Arial;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

input[type="email"]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  margin: 20px auto 20px auto;
  outline-style: none;
}

input[type=submit] {
  background: #009d4e;
  border: none;
  color: var(--light-text-color);
  cursor: pointer;  
}

input[type=submit]:hover {
  background: #2fc379;
}

footer {
  padding: 30px;
  background: #070f1d;
}

footer p {
  color: var(--light-text-color);
  text-align: center;
  font-family: 'Open Sans', sans-serif, Arial;
}

footer a {
  color: var(--light-text-color);
  font-weight: 600;
}

footer a:hover {
  color: #2CD7FF;
}