@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700&display=swap');

html {
  font-size: 10px;
}

body {  
  font-family: Montserrat, Arial;
  font-weight: 400;
  position: absolute;
  margin: 0;
  width: 100%;
}

strong {
  font-weight: 600;
}

main {
  margin: 0;
}

h1 {
  display: block;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  padding: 80px 20px;
  margin: 0;
}

#img-div {
  display: block;
  padding: 20px;
  margin: 0 auto;
}

img {
  width: 60%;
  max-width: 700px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#img-caption {
  text-align: center;
  padding: 15px 0px 0px;
  font-size: 1.5rem;
}

#tribute-info, ul{
  padding: 20px 20px 40px 20px;
}

#tribute-timeline  {
  padding: 40px 20px;
}


h2 {
  text-align: center;
  font-size: 2.8rem;
}

p, li {
  font-size: 1.8rem;
  line-height: 1.6;
  width: 900px;
  margin: 15px auto;
}

@media (max-width: 1100px) {
  p, li{
    max-width: 80%;
  }
  
  h1 {
    font-size: 3.2rem;
  }
}

@media (max-width: 800px) {
  #img-caption {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2.8rem;
    padding: 40px 20px;
  }
  h2 {
  font-size: 2.4rem;
}
  p, li {
    font-size: 1.6rem;
    line-height: 1.4;
    margin: 10px auto;
  }
}

#tribute-timeline {
  background: #f3f3f3;
  margin: 0;
  max-width: 100%;
}

a {
  color: #25408f;
}

footer {
  padding: 30px;
  background: #070f1d;
}

footer p {
  color: #f2f2f2;
  text-align: center;
  margin: 0 auto;
}

footer a {
  color: #f2f2f2;
  font-weight: 600;
}

footer a:hover {
  color: #2CD7FF;
}